{% extends 'base.html' %}

{% block title %}{{ movie.title }} - Details{% endblock %}

{% block body %}
<h1>{{ movie.title }}</h1>

<p>
  {{ movie.overview }}
</p>

<img src="{{ movie.poster_path }}">


<h2>Rate This Movie</h2>

<form>
  <label for="raiting-select">Choose a rating:</label>

  <select name="raiting" id="raiting-select">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

  <button type="submit">Submit Rating</button
</form>







{% endblock %}








